@{
    ViewData["Title"] = "About Crowder University";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>This is a test website to demonstrate MVC functionality
    in a ASP.NET Core environment.</p>
