@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Crowder University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Crowder University</h2>
        <p>
            Crowder University is an online university
            for demonstration purposes.
        </p>
    </div>
    <div class="col-md-4">
        <h2>E. Crowder GitHub</h2>
        <p>See E. Crowder's GitHub for more examples.</p>
        <p><a class="btn btn-default" href="https://github.com/ebcrowder">E. Crowder GitHub &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>E. Crowder Portfolio Website</h2>
        <p>See E. Crowder's portfolio.</p>
        <p><a class="btn btn-default" href="http://crowdereric.com">E. Crowder Portfolio Website &raquo;</a></p>
    </div>
</div>